@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin: auto;
}

ul,
li,
ol {
  list-style: none;
}

i {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.navbar {
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
  background-color: #fff;
}

.main-nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.sub-nav {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-nav .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  width: 35px;
  margin-right: 1em;
}

.sub-nav button {
  border: none;
  padding: 0.5em 1em;
  background-color: #004e89;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.sub-nav button:hover, .sub-nav button:active {
  opacity: 0.8;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item {
  margin-right: 1.5em;
}

.list-item a {
  color: #333;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.list-item a:hover, .list-item a:active {
  border-bottom: 3px solid #093d5e;
}

.hamburger {
  display: none;
}

.hamburger div {
  height: 2px;
  width: 30px;
  background-color: #333;
  margin: 0.3em 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h1 {
  letter-spacing: 1px;
  margin-left: 0.1em;
  font-size: 2rem;
  font-family: "Mochiy Pop P One";
  color: #093d5e;
}

.logo i {
  color: #093d5e;
}

.showcase {
  padding: 1em;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.showcase h2,
.showcase h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.showcase h1,
.showcase h2,
.showcase h3 {
  color: #fff;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.showcase a {
  font-weight: 700;
  padding: 0.6em 2em;
  margin-top: 2em;
  background-color: #fff;
  color: #333;
}

@media only screen and (max-width: 795px) {
  .navbar {
    height: 9vh;
  }
  .main-nav {
    height: 9vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .list {
    z-index: 333;
    position: absolute;
    left: 0;
    top: 9vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #004e89;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 97vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }
  .list .list-item {
    border-bottom: 1px #fff dashed;
    padding: 2em 0;
  }
  .list .list-item a {
    color: #fff;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showcase h1 {
    font-size: 2.5rem;
  }
  .showcase h2,
  .showcase h3 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 320px) {
  .lang {
    display: none !important;
  }
  .showcase h1 {
    font-size: 1.5rem;
  }
  .showcase h2,
  .showcase h3 {
    font-size: 1em;
  }
}

.showcase {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  padding: 0 0.5em;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.none {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.link {
  padding: 0.5em 1em;
  border-radius: 5px;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
}

.link:hover, .link:active {
  opacity: 0.8;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.link-light {
  background-color: #fff;
  color: blue;
}

.link-dark {
  background-color: royalblue;
  color: #fff;
}

.toggler {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overflow {
  overflow: hidden;
}

.about {
  -webkit-box-shadow: 0 0 20px 0 lightslategrey;
          box-shadow: 0 0 20px 0 lightslategrey;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1em;
}

.about__content .about-us {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__content .about-us h3 {
  color: #004e89;
  font-weight: 300;
}

.about__content .about-us h2 {
  margin: 0.3em 0;
  letter-spacing: 0.6px;
  font-weight: 700;
  line-height: 1.4;
}

.about__content .about-detail {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.about__content .about-detail p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 2em;
}

.about__content .about-detail a {
  padding: 0.8em 2em;
  color: #fff;
}

.booking {
  z-index: 1;
  position: relative;
  background-color: #093d5e;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.booking .link {
  padding: 0.8em 2em;
}

.location,
.date,
.phone {
  border: 1px solid #fff;
  padding: 0.8em;
  color: #fff;
  width: 17vw;
  height: 45px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location h5 {
  margin: 0 0.6em;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group input {
  background: transparent;
  border: none;
  color: #fff;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

@media only screen and (max-width: 800px) {
  .booking {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .location,
  .date,
  .phone {
    padding: 0.8em;
    color: #fff;
    width: auto;
    height: 45px;
    margin-bottom: 1.2em;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-detail p {
    font-size: 3rem;
  }
}

.catenations {
  padding: 2em 0;
  background-color: #f4f4f4;
}

.category {
  text-align: center;
  margin-bottom: 3em;
}

.category h5 {
  color: #004e89;
  font-size: 1rem;
}

.category h1 {
  font-size: 1.6rem;
  margin: 0.4em 0;
  letter-spacing: 1px;
}

.category__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin: 2em 0;
}

.category__boxes__box {
  padding: 1em;
}

.category__boxes__box:hover {
  background-color: #fff;
}

.category__boxes__box i {
  padding: 1em;
  border-radius: 30px;
  background-color: #093d5e;
  color: #fff;
}

.category__boxes__box h2 {
  margin: 0.5em 0;
  font-weight: 700;
}

.category__boxes__box p {
  font-size: 0.8rem;
  line-height: 1.7;
}

@media only screen and (max-width: 500px) {
  .category__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2em;
  }
}

.destinations {
  text-align: center;
  padding: 2em 0;
}

.destinations .splide2 {
  margin-top: 2em;
}

.destinations .card .image {
  height: 12rem;
  width: 20rem;
}

.destinations .card .pricing {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destinations .card h6 {
  text-align: start;
}

.gallery {
  padding: 2em 0;
  background-color: #fff;
}

.gallery__content {
  text-align: center;
}

.gallery__content h5 {
  color: #004e89;
}

.gallery__content h1 {
  margin: 0.2em 0;
  letter-spacing: 0.3px;
}

.gallery__content p {
  font-size: 0.9rem;
  color: #555;
  line-height: 25px;
  margin: 0.7em auto;
  max-width: 80ch;
}

.gallery__content .grid {
  margin: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  height: 90vh;
}

.gallery__content .grid .grid-item {
  color: #fff;
  border-radius: 5px;
  position: relative;
}

.gallery__content .grid .grid-item .overlay-full {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__content .grid .grid-item .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px 0;
}

.gallery__content .grid .grid-item .overlay h4 {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.gallery__content .grid .grid-item-1 {
  background: url(../images/gridimages/tuscany.jpg) no-repeat center center/cover;
  grid-row: auto/span 2;
}

.gallery__content .grid .grid-item-2 {
  background: url(../images/gridimages/coxbazar.jpg) no-repeat center center/cover;
}

.gallery__content .grid .grid-item-3 {
  background: url(../images/gridimages/bali.jpg) no-repeat center center/cover;
}

.gallery__content .grid .grid-item-4 {
  background: url(../images/gridimages/iceland.jpg) no-repeat center center/cover;
  grid-row: auto / span 2;
}

.gallery__content .grid .grid-item-5 {
  background: url(../images/gridimages/jaflong.jpg) no-repeat center center/cover;
}

.gallery__content .grid .grid-item-6 {
  background: url(../images/gridimages/saienmartin.jpg) no-repeat center center/cover;
}

.gallery__content .grid .grid-item-7 {
  background: url(../images/gridimages/lake.jpg) no-repeat center center/cover;
}

@media only screen and (max-width: 580px) {
  .grid {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid .grid-item-1,
  .grid .grid-item-4 {
    grid-row: auto / span1 !important;
  }
}
